
#homepage-image{
    float: left;
    margin: 0px 25px 25px 0px;
}

#nav-grp{
    float: left;

}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: white;
    color: black;
}








